@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-size: $defaultSize;
    font-family: $kumbh;
    font-weight: $light;
}